input{
    background-color: white;
    width: 300px;
    height: 30px;
    border-radius: 8px;
}

.username {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}
.password {
    margin-left: 40px;
    margin-right: 40px;
}
.title {
    margin-bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 132px;
    margin-bottom: 20px;
}

.signin{
    width: 310px;
    height: 40px;
    margin-left: 40px;
    border-radius: 15px;
    background-color: rgb(95, 160, 255);
}

fieldset{
    width: 1px; 
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border-radius: 25px;
    box-shadow: 0 5px 5px 6px rgb(161, 161, 161);
    border: 0px solid;
    background-color: white;
}

body{ 
    background-color: rgb(95, 106, 255);
}
